<form method="post" action="{{ path('note_delete', {'id': note.id}) }}" onsubmit="return confirm('Êtes-vous certains de vouloir supprimer cette note ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
