{{ form_start(form) }}
    {{ form_row(form.title, { 'label': 'Titre'}) }}
    {{ form_row(form.text, { 'label': 'Détails'}) }}
    {{ form_row(form.imageFile, { 'label': 'Document'}) }}
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
