{% extends 'base.html.twig' %}

{% block title %}Éditer une note - {{ parent() }}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class='container mt-5'>
        <h1>Éditer une note</h1>

        {{ include('note/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('note_index') }}" class="btn btn-secondary">Revenir à la liste</a>

        {{ include('note/_delete_form.html.twig') }}
    </div>
{% endblock %}
