{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class='container mt-5'>
        <h1>Prise de notes</h1>

        <table class="table table-hover table-bordered table-responsive w-auto class justify-content-center align-middle">
            <thead>
                <tr>
                    <th class='text-center'>Numéro</th>
                    <th class='text-center'>Titre</th>
                    <th class='text-center'>Détails</th>
                    <th class='text-center'>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                <tr>
                    <td class='text-center'>{{ note.id }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.text }}</td>
                    <td>
                        <a href="{{ path('note_show', {'id': note.id}) }}" class="btn btn-primary">Voir le détail</a>
                        <a href="{{ path('note_edit', {'id': note.id}) }}" class="btn btn-primary">Éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune note n'a été enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('note_new') }}">Créer une nouvelle note</a>

        <div class="navigation">
            {{ knp_pagination_render(notes) }}
        </div>
    </div>
{% endblock %}
