{% extends 'base.html.twig' %}

{% block title %}Nouvelle Note - {{ parent() }}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class='container mt-5'>
        <h1>Créer une nouvelle note</h1>

        {{ include('note/_form.html.twig') }}

        <a href="{{ path('note_index') }}" class="btn btn-secondary">Revenir à la liste</a>
    </div>
{% endblock %}
