{% extends 'base.html.twig' %}

{% block title %}{{ note.title }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class='container mt-5'>
        <h1>{{ note.title }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Numéro</th>
                    <td>{{ note.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ note.title }}</td>
                </tr>
                <tr>
                    <th>Détails</th>
                    <td>{{ note.text }}</td>
                </tr>
                <tr>
                    <th>Document</th>
                    <td><a href="{{ vich_uploader_asset(note, 'imageFile') }}" target="_blank"><img src="{{ vich_uploader_asset(note, 'imageFile') }}" width="300px"></a></td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('note_index') }}" class="btn btn-secondary">Revenir à la liste</a>

        <a href="{{ path('note_edit', {'id': note.id}) }}" class="btn btn-primary">Éditer</a>

        {{ include('note/_delete_form.html.twig') }}
    </div>
{% endblock %}
